.pokemonIcon {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pokemonIcon svg {
    transition: transform 0.3s ease;
  }
  
  .pokemonIcon:hover {
    transform: scale(1.1);
    transform: translateY(-5px); /* Moves the div slightly upwards */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  }
  
  .pokemonIcon.selected::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid red;
  }
  
  @media (max-width: 768px) {
    .pokemonIcon-container {
      flex-direction: column;
      align-items: center;
    }
  
    .pokemonIcon {
      margin-bottom: 20px;
    }
  }